{% extends "base.html" %}
{% block titre %}Accueil{% endblock %}
{% block contenu %}
<div class="jumbotron">
    {% if estDeRetour %}
        {% if session['utilisateur'] is defined %}
            <h1 class="display-4">Bienvenue! Rebonjour {{ identifiant }}</h1>
        {% else %}
            <h1 class="display-4">Bienvenue! Rebonjour</h1>
        {% endif %}
    {% else %}
        {% if session['utilisateur'] is defined %}
            <h1 class="display-4">Bienvenue {{ identifiant }}</h1>
        {% else %}
            <h1 class="display-4">Bienvenue!</h1>
        {% endif %}
    {% endif %}
  <p class="lead">Tanné d'utiliser un papier et un crayon pour faire votre liste d'épicerie? Essayez notre nouvelle appliccation</p>
  <hr class="my-4">
  <p>Application gratuite</p>
  <p class="lead">
      {% if session['utilisateur'] is defined %}
          <a class="btn btn-primary btn-lg" href="/liste" role="button">Accéder à votre liste</a>
      {% else %}
          <a class="btn btn-primary btn-lg" href="/liste" role="button">Créez votre liste</a>
      {% endif %}
  </p>
</div>
{% endblock %}
