{% extends "base.html" %}
{% block titre %}Création d'items{% endblock %}
{% block contenu %}

    <form method="post">
        {% if messages is defined and messages|length > 0 %}
            <div class="alert alert-warning" role="alert">
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="mot-passe">Quantité</label>
            <input type="number" class="form-control" id="quantite" name="quantite" step="0.01">
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
    </form>
{% endblock %}
