{% extends "base.html" %}
{% block titre %}Liste{% endblock %}
{% block contenu %}
    {% if session['id'] is defined %}
    <h2>Liste de {{ utilisateur }}</h2>
    {% endif %}
    <a href="/items/ajouter">Ajouter un item</a>
    {% if messages is defined and messages|length > 0 %}
        <div class="alert alert-warning" role="alert">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>Description</th>
            <th>Quantité</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.description }}</td>
                <td>{{ item.quantite }}</td>
                <td><a href="/items/{{item.id}}/effacer" class="btn btn-primary">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
